@page "/todolist/create"
@using Microsoft.EntityFrameworkCore
@* @using NewToDoApp.Client.Services *@
@using NewToDoApp.Models
@inject NavigationManager NavigationManager
@inject IToDoService _toDoService
@inject ISnackbar SnackbarService
@rendermode @(new InteractiveAutoRenderMode(prerender: false))

<MudSnackbarProvider />
<MudPopoverProvider />

<PageTitle>Create</PageTitle>

<h3>Add a new task</h3>

<MudCard>
<EditForm Model="ToDoItem" OnValidSubmit="AddToDoItem" class="p-3">
    <DataAnnotationsValidator />
    <ValidationSummary class="text-danger" role="alert" />
    <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <InputText id="name" @bind-Value="ToDoItem.Name" class="form-control" />
        <ValidationMessage For="() => ToDoItem.Name" class="text-danger" />
    </div>
    <div class="mb-3">
        <label for="iscomplete" class="form-label">IsComplete:</label>
        <InputCheckbox id="iscomplete" @bind-Value="ToDoItem.IsComplete" class="form-check-input" />
        <ValidationMessage For="() => ToDoItem.IsComplete" class="text-danger" />
    </div>
    <div class="mb-3">
            <label for="shortDescription" class="form-label">Short Description:</label>
            <InputText id="shortDescription" @bind-Value="ToDoItem.ShortDescription" class="form-control" />
            <ValidationMessage For="() => ToDoItem.ShortDescription" class="text-danger" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</EditForm>
</MudCard>
<div class="mt-3">
    <a href="/todoitems">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private TodoItem ToDoItem { get; set; } = new();

    // private async Task AddToDoItem(TodoItem item) 
    private async Task AddToDoItem() 
    {
        var newToDoItem = await _toDoService.AddToDo(ToDoItem);
        SnackbarService.Add($"Added new task", Severity.Success);
        NavigationManager.NavigateTo("todolist");
    }
    // [SupplyParameterFromForm]
    // private ToDoItem ToDoItem { get; set; } = new();

    // private async Task AddToDoItem(){
    //     ToDoService.AddToDo
    // }
}
