@page "/create"
@using Microsoft.EntityFrameworkCore
@using NewToDoApp.Client.Services

<h3>Create</h3>
<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>ToDoItem</h2>
<hr />


<div>
    <a href="/todoitems">Back to List</a>
</div>

@code {
    // [SupplyParameterFromForm]
    // private ToDoItem ToDoItem { get; set; } = new();

    // private async Task AddToDoItem(){
    //     ToDoService.AddToDo
    // }
}
