@page "/todolist"
@using NewToDoApp.Models
@inject IToDoService ToDoService
@rendermode @(new InteractiveAutoRenderMode(prerender: false))


<h3>ToDoList</h3>

@if(ToDoService.ToDos == null || ToDoService.ToDos.Count == 0)
{
    <p>no stuff brah</p>
}
else
{
    <div>
        @if(ToDoService.ToDos == null || ToDoService.ToDos.Count == 0){
            <p>not wired up brah</p>
        }
        else 
        {
            @foreach (var ToDo in ToDoService.ToDos)
            {
                <p>@ToDo.Name</p>
            }
        }

    </div>
}

@code {
    public List<TodoItem> ToDoListTrad = new List<TodoItem>();

    protected override async Task OnInitializedAsync()
    {
        ToDoService.ToDosChanged += StateHasChanged;
        await ToDoService.GetAllToDos();
    }
}
