@page "/ToDoList"
@using NewToDoApp.Models
@inject IToDoService ToDoService

<h3>ToDoList</h3>
<div>
    @foreach (var ToDo in ToDoService.Todos)
    {

    }
</div>

@code {
    public List<TodoItem> ToDoLi = new List<TodoItem>();

    
}
